<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Catch Shop</p>
                    <h1>주문</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="single-product mt-150 mb-150">
    <div class="container">
            <!-- 전체 주문 조회 시작  -->
            <div class="cart-table-wrap">
                <table class="cart-table">
                    <thead class="cart-table-head">
                    <tr class="table-head-row">
                        <th>번호</th>
                        <th>주문자</th>
                        <th>금액</th>
                        <th>주문 일시</th>
                        <th>주문 상태</th>
                        <th>주문 변경</th>
                        <th>주문 상세</th>
                    </tr>
                    </thead>
                    <tbody th:each="order : ${paging}">
                    <tr>
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.user.loginId}"></td>
                        <td th:text="${order.totalPrice + order.shippingFee}"></td>
                        <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${order.orderStatus}"></td>
                        <td>
                            <form th:if="${order.orderStatus.toString().equals('READY')}" th:action="@{'/orders/' + ${order.id} + '/admin/status'}" th:method="post">
                                <input type="hidden" name="_method" value="patch">
                                <button class="btn btn-primary">배송 완료</button>
                            </form>
                            <br>
                            <form th:if="${order.orderStatus.toString().equals('READY')}" th:action="@{'/orders/' + ${order.id} + '/admin'}" th:method="post">
                                <input type="hidden" name="_method" value="patch">
                                <button class="btn btn-primary">주문 취소</button>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{'/orders/' + ${order.id} + '/admin'}"><button class="btn btn-primary">주문 상세</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 전체 주문 조회 끝 -->

            <!-- 페이징 처리 시작 -->
            <div class="mt-5 mb-5" th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                            <span>prev</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>next</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징 처리 끝 -->
    </div>

    <!-- footer -->
    <div th:replace="fragments/footer :: footer"/>

    <!-- jquery -->
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
</body>
</html>