<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <!-- footer -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>
            법인명: 주식회사 캐치 </br>
            주소: 서울특별시 마포구 </br>
            고객센터: 02-1234-5678
          </p>
        </div>
        <div class="col-lg-6 text-right col-md-12">
          <p>Copyrights &copy; 2022 - Catch Shop</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->
</div>