<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Catch Shop</p>
					<h1>Join</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<!-- 회원가입 폼 시작 -->
		<form th:object="${joinDto}" method="post">
			<!-- 아이디 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="loginId">아이디</label>
				<input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
					   th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p><br>
			</div>

			<!-- 비밀번호 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="password">비밀번호</label>
				<input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
					   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p><br>
			</div>

			<!-- 이름 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="name">이름</label>
				<input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
					   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p><br>
			</div>

			<!-- 연락처 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="telephone">연락처</label>
				<input type="text" th:field="*{telephone}" class="form-control" placeholder="연락처를 입력하세요"
					   th:class="${#fields.hasErrors('telephone')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Incorrect date</p><br>
			</div>

			<!-- 이메일 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="email">이메일</label>
				<input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
					   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p><br>
			</div>

			<!-- 우편번호 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="postalcode">우편번호</label>
				<input type="text" th:field="*{postalcode}" class="form-control" placeholder="우편번호를 입력하세요"
					   th:class="${#fields.hasErrors('postalcode')}? 'form-control fieldError' : 'form-control'"
					   name="postalcode" id="postalcode" readonly="readonly">
				<p th:if="${#fields.hasErrors('postalcode')}" th:errors="*{postalcode}">Incorrect date</p>
				<button type="button" class="btn btn-default" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button><br><br>
			</div>

			<!-- 도로명 주소 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="road">도로명 주소</label>
				<input type="text" th:field="*{road}" class="form-control" placeholder="도로명 주소를 입력하세요"
					   th:class="${#fields.hasErrors('road')}? 'form-control fieldError' : 'form-control'"
					   name="road" id="road" readonly="readonly">
				<p th:if="${#fields.hasErrors('road')}" th:errors="*{road}">Incorrect date</p><br>
			</div>

			<!-- 상세 주소 -->
			<div class="form-group" style="width:300px;margin:0 auto;">
				<label th:for="detail">상세 주소</label>
				<input type="text" th:field="*{detail}" class="form-control" placeholder="상세 주소를 입력하세요"
					   th:class="${#fields.hasErrors('detail')}? 'form-control fieldError' : 'form-control'">
				<p th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">Incorrect date</p><br>
			</div>

			<!-- 관리자/사용자 권한 설정 체크박스 -->
			<div style="width:300px;margin:0 auto;">
				<div th:each="role : ${roles}" class="form-check form-check-inline" >
					<input type="radio" th:field="*{role}" th:value="${role.name()}" class="form-check-input" >
					<label th:for="${#ids.prev('role')}" th:text="${role.description}" class="form-check-label"></label>
				</div>
			</div><br>

			<!-- 회원가입 버튼 -->
			<div class="hero-btns" style="margin-top:0px;">
				<div style="width:300px;margin:0 auto;">
					<a style="border-radius: 3px;width:100%;" class="boxed-btn">
						<button type="submit"
								style="width:100%; border: hidden; text-align: center; background-color: transparent;"
								class="btn btn-primary">Join</button>
					</a>
				</div>
			</div>
		</form>
		<!-- 회원가입 폼 끝-->
	</div>
</div>
<!-- end single product -->

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- jquery -->
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="/assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="/assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="/assets/js/sticker.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>

<!-- 주소록 api -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="/resources/js/addressapi.js"></script>
<script src="/assets/js/user-address.js"></script>

</body>
</html>