<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div th:replace="fragments/bodyHeader :: bodyHeader"/>


<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Catch Shop</p>
                    <h1>Q&A</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div style="width:300px;margin:0 auto;">
            <label for="category">카테고리</label>
            <input type="text" id="category" th:field="*{question.category}"
                   style="border-radius:3px;border:none;margin-bottom:10px;width:100%;height:35px;" readonly="readonly">
        </div><br>
        <div style="width:300px;margin:0 auto;">
            <label for="writer">작성자</label>
            <input type="text" id="writer" th:field="*{question.user.name}"
                   style="border-radius:3px;border:none;margin-bottom:10px;width:100%;height:35px;" readonly="readonly">
        </div><br>
        <div style="width:300px;margin:0 auto;">
            <label>내용</label>
            <input type="text" th:field="*{question.content}"
                   style="border-radius:3px;border:none;margin-bottom:10px;width:100%;height:35px;" readonly="readonly">
        </div><br><br>

        <div>
            <table class="cart-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>내용</th>
                    <th>작성 날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="answer : ${question.answerList}">
                    <td th:text="${answer.id}"></td>
                    <td th:text="${answer.content}"></td>
                    <td th:text="${#temporals.format(answer.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateAnswerModal"
                                th:data-id="${answer.id}" th:data-content="${answer.content}">수정</button>
                    </td>
                    <td>
                        <form th:action="@{/answers/{id} (id=${answer.id})}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-info btn-lg">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- 답변 수정 Modal 시작 -->
<div class="modal fade" id="updateAnswerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">답변 수정하기</h4>
            </div>

            <!-- 답변 수정 폼 시작 -->
            <form method="post" id="answerUpdateForm" >
                <input type="hidden" name="_method" value="put">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" id="new-content" th:name="new-content"></textarea>
                    </div><br><br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">수정</button>
                </div>
            </form>
            <!-- 답변 수정 폼 끝 -->
        </div>
    </div>
</div>
<!-- 게시글 수정 Modal 끝 -->

<!-- footer -->
<div th:replace="fragments/footer :: footer"/>

<!-- jquery -->
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="/assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="/assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="/assets/js/sticker.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>
<script>
    $(document).ready(function() {
        $('#updateAnswerModal').on('show.bs.modal', function (e) {
            $(".modal-content #answerUpdateForm").attr("action", "/answers/" + $(e.relatedTarget).data('id'));
            $(".modal-body #new-content").val($(e.relatedTarget).data('content'));
        });
    });
</script>
</body>
</html>